doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Budgetmeester
    != css()
    != js()
  body.bm
    // NAVIGATIE
    nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse.fixed-top
      .container
        a.navbar-brand.mr-auto(href='#')
          img(src='img/logo.png', alt='budgetmeester')
    // EINDE NAVIGATIE
    // CAROUSEL
    .carousel
      .owl-carousel.owl-theme(role='listbox')
        div(style='background-image: url(img/header-3.jpg); background-size: cover; height: 100%; background-position: 0 100%;')
          .carousel-caption-wrapper
            .carousel-caption
              .container
                h1 Financieel advies
                p Uw eerste stap naar een financieel gezondere leefsituatie.
        div(style='background-image: url(img/header-2.jpg); background-size: cover; height: 100%; background-position: 0 100%;')
          .carousel-caption-wrapper
            .carousel-caption
              .container
                h1 Neem nu contact op
                p
                  | Bel 
                  a(href='tel:0620400170') +31 620400170
                  |  om direct een afspraak te maken.
    // END CAROUSEL
    // FOR WHO
    section.section-lg
      .container
        .row
          .col-md-6.hidden-xs-down
            img(src='img/broken-piggy-bank.jpg', alt='')
          .col-md-6.col-xs-12
            h2 Voor wie
            p
              | Bij ons bent u aan het juiste adres, als u één of meer van de
              | volgende vragen met Nee moet beantwoorden:
            ul
              li Heeft u inzicht in uw persoonlijke financiële situatie?
              li Bereikt u uw financiële doelen die u voor ogen had?
              li Heeft u de persoonlijke wil en kennis om de juiste financiële keuzes te maken?
              li
                | Ziet u door het rekeningenbos de bomen niet meer en laat u rekeningen soms ongeopend liggen?
    // END FOR WHO
    // WHAT WE DO
    section.section-lg.bg-dark
      .container
        .row.align-items-center
          .col
            h3 Wat wij doen
          .col-md-8.border-left
            h4.text-light
              | Budgetmeester houdt zich bezig met het coachen en begeleiden van
              | zowel gezinnen als individuen om hun financiële problemen op te
              | lossen.
    // END WHAT WE DO
    // ABOUT US
    section.section-lg
      .container.text-center
        h2.divider-center Over ons
        .row
          .col-xs-12.col-lg-4
            .quote
              .quote-header
                img(src='img/tim.png', alt='Tim van Kralingen')
              .quote-meta
                .quote-meta
                  cite Tim van Kralingen
          .col-xs-12.col-lg-4
            h4.mr-top.mr-bottom Wij doen er alles aan om jou op weg te helpen
            p
              | Wij zijn Tim en Peter. Samen hebben wij jaren lang ervaring in het scherp inzichtelijk
              | krijgen van financiële situaties. Door onze opleidingen en werkervaring op het gebied
              | van coachen, zijn wij in staat om u stap voor stap te begeleiden naar een betere
              | financiële situatie. Helpen is onze hobby!

          .col-xs-12.col-lg-4
            .quote
              .quote-header
                img(src='img/peter.png', alt='Peter van Kralingen')
              .quote-body
              .quote-meta
                cite Peter van Kralingen
                
    // END ABOUT US
    section.section-lg.bg-grey
      p.text-center.m-0
    // FOOTER
    section.section-lg.bg-dark
      .container
        .row
          .col
            h4 Contact info
            hr.hr.bg-highlight-dark
            ul.list.footer-contact-info
              li
                span.fa.fa-phone
                a(href='tel:0620400170') +31 620400170
              li
                span.fa.fa-envelope
                a(href='mailto:budgetmeester@gmail.com') budgetmeester@gmail.com
              li
                span.fa.fa-clock-o
                | 9:00 - 17:00
              li
                span.fa.fa-map-marker
                p
                  b Schouwstraat 52
                  br
                  | 1826 AZ Alkmaar
    // END FOOTER
    section.bg-darker.py-3
      p.text-center.m-0(style='color:#005377;')
        | Copyright 2017 Budgetmeester.
